# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env

# Django
staticfiles/
media/grades/
media/ssh_keys/
logs/
*.sqlite3

# Tools
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
