Django>=4.2,<5.0
mysqlclient==2.2.4
python-docx>=0.8.11
mammoth==1.6.0
django-jazzmin==3.0.1
GitPython>=3.1.40
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.1
django-cors-headers==4.3.1
django-storages==1.14.2