aiohappyeyeballs
aiohttp
aiosignal
akshare
amqp
asgiref
attrs
beautifulsoup4
billiard
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cobble
crispy-bootstrap5
cron-descriptor
curl_cffi
decorator
dj-database-url
Django
django-celery-beat
django-celery-results
django-cors-headers
django-crispy-forms
django-filter
django-jazzmin
django-storages
django-timezone-field
djangorestframework
et_xmlfile
frozendict
frozenlist
gitdb
GitPython
google
gunicorn
html5lib
idna
iniconfig
jsonpath
kombu
lxml
mammoth
mini-racer
msgpack
multidict
multitasking
mysqlclient
nest-asyncio
numpy
openpyxl
openvino
openvino-telemetry
packaging
pandas
peewee
pillow
platformdirs
pluggy
prompt_toolkit
propcache
protobuf
psycopg2
psycopg2-binary
py
pycparser
pycryptodome
Pygments
PyMuPDF
pypinyin
PyQt3D
PyQt5
PyQt5_sip
PyQt6
PyQt6-3D
PyQt6-Charts
PyQt6-DataVisualization
PyQt6-NetworkAuth
PyQt6-WebEngine
PyQt6_sip
PyQtChart
PyQtDataVisualization
PyQtNetworkAuth
PyQtPurchasing
PyQtWebEngine
pytest
python-crontab
python-dateutil
python-docx
python-dotenv
python-magic
python-pptx
pytz
redis
requests
retry
setuptools
six
smmap
soupsieve
sqlparse
tabulate
tqdm
typing_extensions
tzdata
urllib3
vine
volcengine
wcwidth
webencodings
websockets
wheel
whitenoise
xlrd
xlsxwriter
yarl
yfinance
