{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="/">
        {{ site_header|default:_('Django administration') }}
    </a>
</h1>
{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">修改密码</a>
        {% endif %}
        <a href="{% url 'admin:logout' %}">退出</a>
    {% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    .grading-link {
        color: var(--header-link-color);
        text-decoration: none;
        padding: 0 10px;
    }
    .grading-link:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}
