{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:grading_assignment_changelist' %}" class="viewlink">
            返回列表
        </a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{{ absolute_url }}" class="viewlink">
                {% translate "View on site" %}
            </a>
        </li>
    {% endif %}
    {% if has_delete_permission %}
        <li>
            <a href="{% url 'admin:grading_assignment_delete' original.pk|admin_urlquote %}" class="deletelink">
                {% translate "Delete" %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content-main">
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
            {% csrf_token %}
            {% block form_top %}{% endblock %}
            {% if errors %}
                <p class="errornote">
                    {% if errors|length == 1 %}
                        {% translate "Please correct the error below." %}
                    {% else %}
                        {% translate "Please correct the errors below." %}
                    {% endif %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}
            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}
            {% block after_field_sets %}{% endblock %}
            {% for inline_admin_formset in inline_admin_formsets %}
                {% include inline_admin_formset.opts.template %}
            {% endfor %}
            {% block after_related_objects %}{% endblock %}
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
            {% block prepopulated_fields_js %}
                {{ block.super }}
            {% endblock %}
            {% block extra_js %}{% endblock %}
        </form>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .field-git_url,
        .field-base_path {
            width: 100%;
        }
        .field-git_url input,
        .field-base_path input {
            width: 100%;
        }
        .help {
            color: #666;
            font-size: 12px;
            margin-top: 5px;
            display: block;
        }
        
        /* 动态字段显示 */
        .field-git_url,
        .field-git_branch,
        .field-git_username,
        .field-git_password {
            display: none;
        }
        
        .field-base_path {
            display: none;
        }
        
        /* 根据存储类型显示相应字段 */
        .storage-type-git .field-git_url,
        .storage-type-git .field-git_branch,
        .storage-type-git .field-git_username,
        .storage-type-git .field-git_password {
            display: block;
        }
        
        .storage-type-filesystem .field-base_path {
            display: block;
        }
    </style>
    
    <script>
        (function($) {
            $(document).ready(function() {
                // 根据存储类型切换字段显示
                function toggleFields() {
                    const storageType = $('#id_storage_type').val();
                    const form = $('#{{ opts.model_name }}_form');
                    
                    form.removeClass('storage-type-git storage-type-filesystem');
                    
                    if (storageType === 'git') {
                        form.addClass('storage-type-git');
                    } else if (storageType === 'filesystem') {
                        form.addClass('storage-type-filesystem');
                    }
                }
                
                // 初始化
                toggleFields();
                
                // 监听存储类型变化
                $('#id_storage_type').change(toggleFields);
            });
        })(django.jQuery);
    </script>
{% endblock %}
