{% extends "admin/base_site.html" %}
{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script>
  if (!window.$) {
    window.$ = django.jQuery;
  }
</script>
{% endblock %}
{% load static %}
<div class="ssh-key-file-input-wrapper">
    <button type="button" class="button select-ssh-key">上传 SSH 私钥文件</button>
    <input type="file" class="ssh-key-file-input" accept=".pem,.key,id_rsa" style="display: none;">
    <span class="ssh-key-file-name"></span>
</div>
